html, body {
    margin: 0;
    padding: 0;
}

ul, ul li {
    list-style: none;
}


.ivu-layout-header {
    height: 40px;
    line-height: 40px;
}


.ivu-layout-sider {
    background-color: rgb(35, 35, 35)
}

.ivu-menu-dark {
    background-color: transparent
}

.menu-icon {
    color: white;
}

.collapsed-menu .ivu-menu {
    display: none;
}

.collapsed-menu .ivu-menu-submenu-title-icon {
    display: none;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title {
    text-align: left;
}

.action_box button {
    margin-right: 20px;
}

.action_box button:last-child {
    margin-right: 0;
}

.form_inner {
    width: 80%;
    margin: 0 auto;
}


.bread_crumb {
    text-align: left;
    margin: 20px 0;
}

.contain {
    padding: 0 20px;
}

.action_column {
    text-align: left;
}

.button_page {
    margin-top: 20px;
}

.modal_inner {
    width: 90%;
    margin: 0 auto;
}

.ivu-steps .ivu-steps-title {
    margin-top: 3px;
    margin-bottom: 0;
}

.base_table{
    margin-bottom: 20px;
}